/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* ===============Site Styles=============================== */

body {
	background: 
		url("../images/black_bg.png");
}

@font-face {
    font-family: "Franchise-Bold";
    src: url("../fonts/Franchise-Bold/Franchise-Bold.ttf ");
}

h1, h2,{
    font-family: Franchise-Bold, arial;
}

h1 {
	font-size: 3.5em;
	text-align: center;
	color: #6fd3e5;
}

h2 {
	font-size: 1.8em;
	text-align: center;
	text-decoration: underline;
	margin: 10px;
	color:#acddf7
}

p {
	font-family: oriya MN, arial;
	color: white;
	padding: 10px 0 20px 0;
	margin: 0 auto;
	text-align: center;
}



/*------------------HEADER---------------------*/


